{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Style Log{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&display=swap" rel="stylesheet">
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-left">
                <a href="{% url 'item-list'%}">
                    <img src="{% static 'img/logo_white.png' %}" alt="ロゴ" class="header-logo">
                </a>
            </div>
            <div class="header-right">
                <a class="font-regular logout-link" href="{% url 'logout' %}">ログアウト</a>
            </div>
        </header>

        <main class="main">
            {% block content %}{% endblock %}
        </main>

        <footer class="footer">
            <p class="font-regular">&copy; 2025 Summer C team</p>
        </footer>
    </div>
    {% block extra_js %}{% endblock %}
</body>
</html>
