{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}認証{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base_auth.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body >
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="text-white p-3">
            <header>
                <h1><img src="{% static 'img/main_logo_white.png' %}" alt="ロゴ"></h1>
            </header>

            <main>
                {% block content %}{% endblock %}
            </main>

            <footer class="fixed-bottom text-black text-center font-regular">
                <p>&copy; 2025 Summer C team</p>
            </footer>
        </div>
    </div>

    {# ページ固有のJSを差し込みたい場合 #}
    {% bootstrap_javascript %}
    {% block extra_js %}{% endblock %}
</body>
</html>
