html {
    font-size: 100%;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #FDF6F1; */
    background-color: #F0E4D3;
    text-align: center;
}

header {
    color: white;
    -webkit-text-stroke: 1px black;
    padding: 0.6rem 0; /* 10px → 0.625rem */
    text-align: center;
}

footer {
    color: black;
    text-align: center;
    padding: 0.3rem 0; /* 5px → 0.3125rem */
}

/* フッターはタップイベントを拾わないようにするために設定 */
footer.fixed-bottom {
    pointer-events: none;
}

img {
    margin: 1.8rem; /* 30px → 1.875rem */
    width: 12.5rem; /* 200px → 12.5rem */
    height: auto;
}

h2 {
    color: black;
    font-size: 1rem;
    margin: 20px 0;
}

.my-btn {
    background-color: #D9A299;
    border-color: #D9A299;
    border-radius: 3rem; /* 50px → 3.125rem */
    width: 10rem;
}

.my-btn:hover {
    background-color: #D9A299  !important;
    color: #946C66  !important;
    border-color: #D9A299 !important;
    cursor: pointer;
}

.my-btn:active,
.my-btn:focus {
    background-color: #8B5A50;
    transform: scale(0.98);
    outline: none !important;
    box-shadow: none !important;
}

p {
    font-size: 1rem;
    margin-top: 3rem;
}

.font-regular {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}