.to-login {
    color: darkgray;
}

.to-login a {
    color: rgb(123, 122, 122);
}

.to-login a:hover {
    color: rgb(88, 88, 88);
}

.catch-copy {
    font-size: 1.2rem;
}

.font-regular {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}