body {
    font-family: Arial, sans-serif;
    background-color: #F0E4D3;
}

header {
    /* background-color: #333; */
    color: white;
    -webkit-text-stroke: 1px black;
    padding: 10px 0;
    text-align: left;
}

footer {
    /* background-color: #333; */
    color: black;
    text-align: center;
    padding: 5px 0;
}

