{% extends 'base.html' %}

{% block title %}登録アイテム一覧{% endblock %}

{% block content %}
<h2>登録アイテム一覧</h2>
<a href="{% url 'item-create' %}" class="btn btn-primary">
    追加
</a>
{% if items %}
    {% for item in items %}
        <li>
            <a href="{% url 'item_detail' item.pk %}" class="stretched-link">{{ item.purchase_date }}</a>
        </li>
        <li>{{ item.price }}</li>
        <li>{{ item.description }}</li>
        {% if item.itemphoto_set.all %}
            {% for p in item.itemphoto_set.all %}
                <img src="{{ p.url }}" alt="写真"
                    style="width:160px;height:120px;object-fit:cover;border-radius:6px;">
            {% endfor %}
        {% else %}
            <span>No Image</span>
        {% endif %}
    {% endfor %}
{% else %}
    <p>アイテムが登録されていません</p>
{% endif %}
<br>
<a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
{% endblock %}
